<% include ../partials/header %>

<form action="http://localhost:3360/user/add" method="post" class="col s`12">
    <input type="hidden" name="UserID" value="">
    <div class="form-group row">
        <label for="FirstName" class="col-2 col-form-label">FirstName</label>
        <div class="col-10">
            <input type="text" name="FirstName" value="" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for=""
    </div>
<% include ../partials/footer %>
